# Ignore everything
*
*/*

# But not these files...
!*.md
!.gitignore

# Even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/*.md
!*/*/*.md
!*/*/*/*.md
!*/*/*/*/*.md
!src/core/auth.ts

node_modules